* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: "lato" , san-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 30px;
  color: #777;
    text-decoration: none;
}


  header {
    position: fixed;
    width: 100%;
    background: #333;
  }
  .logo {
    position:relative;
    padding: 10px;
    font: 18px verdana;
    color: #6ddb07;
    float: left;
    width: 15%;
  }
  .logo a {
    color: #6ddb07;
  }
  nav {
    position: fixed;
    width: 980px;
    margin: 0 auto;
  }
  #cssmenu,
  #cssmenu ul,
  #cssmenu ul li,
  #cssmenu ul li a,
  #cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #cssmenu:after,
  #cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  #cssmenu #head-mobile {
    display: none;
  }
  #cssmenu {
    font-family: sans-serif;
    background: #333;
  }
  #cssmenu > ul > li {
    float: left;
  }
  #cssmenu > ul > li > a {
    padding: 17px;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ddd;
    font-weight: 700;
  }
  #cssmenu > ul > li:hover > a,
  #cssmenu ul li.active a {
    color: #fff;
  }
  #cssmenu > ul > li:hover,
  #cssmenu ul li.active:hover,
  #cssmenu ul li.active,
  #cssmenu ul li.has-sub.active:hover {
    background: #448d00 !important;
    -webkit-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }
  #cssmenu > ul > li.has-sub > a {
    padding-right: 30px;
  }
  #cssmenu > ul > li.has-sub > a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: "";
  }
  #cssmenu > ul > li.has-sub > a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: "";
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  #cssmenu > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0;
  }
  #cssmenu ul ul {
    position: absolute;
    left: -9999px;
  }
  #cssmenu ul ul li {
    height: 0;
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    background: #333;
    transition: all 0.25s ease;
  }
  /* #cssmenu ul ul li:hover {
  } */
  #cssmenu li:hover > ul {
    left: auto;
  }
  #cssmenu li:hover > ul > li {
    height: 35px;
  }
  #cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
  }
  #cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
  }
  #cssmenu ul ul li:last-child > a,
  #cssmenu ul ul li.last-item > a {
    border-bottom: 0;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #fff;
  }
  #cssmenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: "";
  }
  #cssmenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: "";
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  #cssmenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0;
  }
  #cssmenu ul ul li.has-sub:hover,
  #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #363636;
  }
  #cssmenu ul ul ul li.active a {
    border-left: 1px solid #333;
  }
  #cssmenu > ul > li.has-sub > ul > li.active > a,
  #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: 1px solid #333;
  }

  @media screen and (max-width: 1000px) {
    .logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 46px;
      text-align: center;
      padding: 10px 0 0 0;
      float: none;
    }
    .logo2 {
      display: none;
    }
    nav {
      width: 100%;
    }
    #cssmenu {
      width: 100%;
    }
    #cssmenu ul {
      width: 100%;
      display: none;
    }
    #cssmenu ul li {
      width: 100%;
      border-top: 1px solid #444;
    }
    #cssmenu ul li:hover {
      background: #363636;
    }
    #cssmenu ul ul li,
    #cssmenu li:hover > ul > li {
      height: auto;
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
      width: 100%;
      border-bottom: 0;
    }
    #cssmenu > ul > li {
      float: none;
    }
    #cssmenu ul ul li a {
      padding-left: 25px;
    }
    #cssmenu ul ul li {
      background: #333 !important;
    }
    #cssmenu ul ul li:hover {
      background: #363636 !important;
    }
    #cssmenu ul ul ul li a {
      padding-left: 35px;
    }
    #cssmenu ul ul li a {
      color: #ddd;
      background: none;
    }
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li.active > a {
      color: #fff;
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
      position: relative;
      left: 0;
      width: 100%;
      margin: 0;
      text-align: left;
    }
    #cssmenu > ul > li.has-sub > a:after,
    #cssmenu > ul > li.has-sub > a:before,
    #cssmenu ul ul > li.has-sub > a:after,
    #cssmenu ul ul > li.has-sub > a:before {
      display: none;
    }
    #cssmenu #head-mobile {
      display: block;
      padding: 23px;
      color: #ddd;
      font-size: 12px;
      font-weight: 700;
    }
    .button {
      width: 55px;
      height: 46px;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      z-index: 12399994;
    }
    .button:after {
      position: absolute;
      top: 22px;
      right: 20px;
      display: block;
      height: 4px;
      width: 20px;
      border-top: 2px solid #dddddd;
      border-bottom: 2px solid #dddddd;
      content: "";
    }
    .button:before {
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: absolute;
      top: 16px;
      right: 20px;
      display: block;
      height: 2px;
      width: 20px;
      background: #ddd;
      content: "";
    }
    .button.menu-opened:after {
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      top: 23px;
      border: 0;
      height: 2px;
      width: 19px;
      background: #fff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .button.menu-opened:before {
      top: 23px;
      background: #fff;
      width: 19px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    #cssmenu .submenu-button {
      position: absolute;
      z-index: 99;
      right: 0;
      top: 0;
      display: block;
      border-left: 1px solid #444;
      height: 46px;
      width: 46px;
      cursor: pointer;
    }
    #cssmenu .submenu-button.submenu-opened {
      background: #262626;
    }
    #cssmenu ul ul .submenu-button {
      height: 34px;
      width: 34px;
    }
    #cssmenu .submenu-button:after {
      position: absolute;
      top: 22px;
      right: 19px;
      width: 8px;
      height: 2px;
      display: block;
      background: #ddd;
      content: "";
    }
    #cssmenu ul ul .submenu-button:after {
      top: 15px;
      right: 13px;
    }
    #cssmenu .submenu-button.submenu-opened:after {
      background: #fff;
    }
    #cssmenu .submenu-button:before {
      position: absolute;
      top: 19px;
      right: 22px;
      display: block;
      width: 2px;
      height: 8px;
      background: #ddd;
      content: "";
    }
    #cssmenu ul ul .submenu-button:before {
      top: 12px;
      right: 16px;
    }
    #cssmenu .submenu-button.submenu-opened:before {
      display: none;
    }
    #cssmenu ul ul ul li.active a {
      border-left: none;
    }
    #cssmenu > ul > li.has-sub > ul > li.active > a,
    #cssmenu > ul ul > li.has-sub > ul > li.active > a {
      border-top: none;
    }
  }

  .margin-p {
    margin-top: 20px;
  }


.first{
      width: 100%;
      height: 130vh;
      background: url(https://fxaasg.am.files.1drv.com/y4msAferrGC5Ru3w4OcgSjII3ec0PGkayAGSKhBuSYwzHqvqIcgKfQchKkQRDUKNDBG0mjyBNEE7QuazEQlGk3DzAbKwFNWDZQV_RjNqG1RacDKLJDitEgfZlaIeEc01-EdTDllkztjI9apdeTx0YaPpNOL_K5-1DSdkP1SmuMdi5rA_kKuzvBJSW9IMqd4Gyro3IlqPvwZzMBsF4gNeN7pvQ?width=4104&height=2736&cropmode=none) no-repeat 50% 50%;
      background-size: cover;
}

/* .container-first  {
  position: relative;
} */

.text-block {
  position: absolute;
  padding-top: 10rem;
  padding-left: 1rem;

}

@media (max-width:992px) {
    .text-block {
       position:relative;
  padding-top: 48rem;
        font-size: 12px;

    }
}


.heading-title  {
  font-size: 38px;

  position: absolute;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  -moz-background-clip: text;
     background-clip: text;
  color: transparent;
  letter-spacing: 4px;
  transition: all .2s;
}

@media (max-width: 768px)   {
    .heading-title  {
  font-size: 32px;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  letter-spacing: 4px;
  transition: all .2s;
}

}
@media (max-width:576px)    {
    .heading-title  {
  font-size: 28px;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  letter-spacing: 4px;
  transition: all .2s;
}
}
/* navbar css*/


/* common used */
.heading-primary  {
  font-size: 32px;
  padding: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  letter-spacing: 4px;
  transition: all .2s;
}

.heading-sec{
  font-size: 22px;
  padding: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
    text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  letter-spacing: 4px;
  transition: all .2s;
}

.templateux-overlap {
  margin-top: -5em;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 7px;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.2)

}

@media (min-width:576px) {
  .templateux-overlap {
    padding: 50px
  }

}

.lead {
    color:  #6d6d6d;
    font-size: 22px;
    font-family: "apercu-medium";
    line-height: 45px;
    text-align: left;
    text-shadow: 0 1px 1px #fff;

    padding-top: 20px;

}

@media (min-width: 768px)   and (max-width: 992px){

    .lead {
        font-size: 24px;
        text-align: center;
         line-height: 35px;
         z-index:-5
    }
}

@media (max-width: 768px) {

    .lead {
        font-size: 26px;
        text-align: center;
         line-height: 35px;
    }
}


.section-home {
    padding: 5rem 0;
    margin-top: 2rem;
	text-align: center;

	 }

   .heading-home {
  font-size: 28px;
    margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
}



@media (min-width: 768px) and (max-width: 992px) {

    .heading-home {
        font-size: 26px;
    }
}

@media (max-width: 768px) {

    .heading-home {
        font-size: 22px;
    }
}



.bubble-list {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flex;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.bubble-list li {
    display: -ms-flex;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    margin-top: 56px
}

.bubble-list li:first-child {
    margin-top: 0
}

.bubble-list li:nth-child(even) .bubble-list__text {
    -ms-flex-order: 1;
    order: 1;
    margin-left: 0;
    margin-right: 50px
}

.bubble-list li:nth-child(even) .bubble-list__text:before {
    left: auto;
    right: -15px
}

@media only screen and (min-width:0) and (max-width:600px) {
    .bubble-list li:nth-child(even) .bubble-list__text:before {
        left: 50%;
        right: auto;
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }
}

.bubble-list li:nth-child(even) .bubble-list__text:after {
    border-width: 20px 0 20px 20px;
    left: 100%;
    right: auto
}

@media only screen and (min-width:0) and (max-width:600px) {
    .bubble-list li:nth-child(even) .bubble-list__text:after {
        left: 50%;
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }
}

.bubble-list li:nth-child(even) .bubble-list__img {
    -ms-flex-order: 2;
    order: 2
}

@media only screen and (min-width:0) and (max-width:600px) {
    .bubble-list li:nth-child(even) .bubble-list__img {
        -ms-flex-order: 1;
        order: 1
    }
}

@media only screen and (max-width:979px) {
    .bubble-list li {
        width: 100%
    }
}

@media only screen and (max-width:600px) {
    .bubble-list li:nth-child(even) .bubble-list__text {
        margin-right: 30px
    }

    .bubble-list li:nth-child(even) .bubble-list__text:before {
        left: auto;
        right: -7px
    }

    .bubble-list li:nth-child(even) .bubble-list__text:after {
        border-width: 10px 0 10px 10px
    }
}

@media only screen and (min-width:0) and (max-width:600px) {
    .bubble-list li {
        -ms-flex-flow: column;
        flex-flow: column
    }

    .bubble-list li:nth-child(even) .bubble-list__text {
        margin-right: 0
    }

    .bubble-list li:nth-child(even) .bubble-list__text:before {
        left: 50%;
        right: auto
    }

    .bubble-list li:nth-child(even) .bubble-list__text:after {
        border-width: 10px 0 10px 10px
    }
}

.bubble-list__img {
    -ms-flex-item-align: start;
    align-self: flex-start;
    border-radius: 220px;
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 160px;
    object-fit: cover;
    object-position: 0 0;
    width: 160px
}

@media only screen and (max-width:600px) {
    .bubble-list__img {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        height: 100px;
        width: 100px
    }
}

@media only screen and (min-width:0) and (max-width:600px) {
    .bubble-list__img {
        margin-bottom: 20px;
        -ms-flex-order: 1;
        order: 1
    }
}

.bubble-list__text {
    position: relative;
    font-size: 2rem;
   background-color: rgba(255, 254, 255, 0.7);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    color: #000;
    border-radius: 10px;
    padding: 7px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin-left: 27px;
    /* max-width: 400px; */
}

@media only screen and (max-width:600px) {
    .bubble-list__text {
        margin-left: 30px;
        padding: 15px
    }
}

@media only screen and (min-width:0) and (max-width:600px) {
    .bubble-list__text {
        margin-left: 0;
        -ms-flex-order: 2;
        order: 2
    }
}

/* .bubble-list__quote {
    color: #252525;
    font-family: "apercu-medium";
    line-height: 21px;
    margin-bottom: 30px
} */

.bubble-list__quote a {
    text-decoration: underline
}

.bubble-list__quote a:hover {
    text-decoration: none
}

@media only screen and (max-width:600px) {
    .bubble-list__quote {
        font-size: 16px;
        line-height: 18px
    }
}

.bubble-list__who {
    color: #6d6d6d;
    font-size: 16px;
    font-family: "apercu-medium";
    line-height: 21px;
    margin-bottom: 0;
    margin-top: auto;
    text-align: right
}

@media only screen and (max-width:600px) {
    .bubble-list__who {
        font-size: 16px;
        line-height: 18px
    }
}

.bubble-list__who strong {
    color: #252525;
    display: block;
    font-size: 18px;
    line-height: 25px
}

@media only screen and (max-width:600px) {
    .bubble-list__who strong {
        font-size: 16px;
        line-height: 18px
    }
}


.our__service   {
    margin-top: 3rem;
}

.service-list {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.service-list li {
    box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
    border-radius: 4px;
    background-color: #fff;
    margin-top: 24px;
    overflow: hidden;
    width: calc(50% - 12px)
}

@media only screen and (min-width:0) and (max-width:1024px) {
    .service-list li {
        width: 100%
    }
}

.service-list a {
    display: -ms-flexbox;
    display: flex;
    height: 100%
}

@media only screen and (min-width:0) and (max-width:600px) {
    .service-list a {
        -ms-flex-flow: column;
        flex-flow: column
    }
}

.service-list a:hover .service-list__hl:after {
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

.service-list a:hover img {
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.service-list__content {
    padding: 24px
}

.service-list__img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    width: 164px
}

.service-list__img img {
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: all 1s cubic-bezier(.19, 1, .22, 1);
    will-change: transform;
    width: 100%
}

@media only screen and (min-width:0) and (max-width:600px) {
    .service-list__img {
        width: 100%
    }
}

.service-list__hl {
    color: #252525;
    display: inline-block;
    font-family: "apercu-medium";
    font-size: 24px;
    line-height: 29px;
    position: relative
}

@media only screen and (min-width:1025px) {
    .service-list__hl:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 2px;
        height: 1px;
        right: 2px;
        background-color: #252525;
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
        transition: transform 0.3s
    }
}

.service-list__text {
    color: #6d6d6d;
    margin-bottom: 0;
}

@media only screen and (min-width:0) and (max-width:1024px) {
    .service-list--big li {
        width: calc(50% - 12px);
    }
}

@media only screen and (min-width:0) and (max-width:600px) {
    .service-list--big li {
        width: 100%;
    }
}

.service-list--big a {
    display: block;
}

.service-list--big .service-list__img {
    width: 100%;
}


/**********About Page********/

.second {
      width: 100%;
      height: 70vh;
      background: url(https://fxbl1q.am.files.1drv.com/y4mCmrNPFziMgorZMl8hrfA_BF8s8yeuJ7OpdtwKEeiJbSxY1eQ1QK47_VrLFoLRs-l0U9z20XxcLL6ph_mCLKVDhEAzHXdWPfIMvEN9vJCGeuGEBskALXd1tR4r2gW8AKIYVgl5GOQkxCRh1wu8Pv8v6va6DWX-t4rwYT-_vAtnCbJjPOSBf_dPfUkLlEcRLvbtbkESBS5Jd6xyInHpMox6A?width=1024&height=576&cropmode=none) no-repeat 50% 50%;
      background-size: cover;
}


.about__us  {
    margin-top:5rem;
    /*display: flex*/
}

.container-about  {
  z-index: -25;
}

.card-deck   {
    justify-content: center;
   align-items: center
}

.features-box {
  margin-top: 30px;
    text-align: left;
   z-index: -30;
 }

.features-box .features-box-icon {
width: 100px;
height: 150px;
}

.features-box h3 {
  margin-top: 0; padding: 0 0 10px 0;
 }


.section-features   {
   padding: 20rem 0;
   margin-top: -5rem;
   z-index: -30;

}
  .section_about  {
    margin-top: -10rem;
    max-height: 350px;
      margin-bottom: 22rem;
  }


/* media queries About us */

@media only screen and (min-width: 992px) and (max-width:1280px)    {
    .features-box-icon {
width: 100px;
height: 150px;
}

}

@media only screen and (max-width: 767px) {
.features-box-icon {
    width: 80px;
    height: 100px;
    }

 .section-features   {
    padding: 20rem 0;
    margin-top: -12rem;

}
    .section_about  {
        max-height: 600px;
    }

}

.composition {
  position: relative;
}
  .composition__photo {
    width: 55%;
      margin-top: 5rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: -50;
    transition: all .2s;
    outline-offset: 2rem;
  }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
           z-index: 100;
      }
    }
    .composition__photo--p1 {
      left: 0;
      top: -2rem;
    }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2);
            z-index: -100;

        }
      }
    .composition__photo--p2 {
      right: 0;
      top: 2rem;
    }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: -100;
        }
      }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem;
    }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1);
            z-index: -110;
        }
      }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20;
    }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.7);
  }

@media (min-width: 578px)   and (max-width: 992px){
.about__staff {
  margin-bottom: -20rem;
}
}

/***** Services Page ********/

.third  {
     width: 100%;
      height: 70vh;
      background: url(https://fxddgq.am.files.1drv.com/y4mOH3GbEsjPupwojXCNJNGDROMx7LlqJo4I5oMfuhFWLImJz9vm8Hax4CMMohQP72RWgMYeDaaeFHB3KihcydYlJVGK0tNAyjg-2449O2wXrDlIosVXtw03nUF-OoYXcC_KIohz3go2yjuOX7q53pRYA1Ig9hAP5OYGRq4sAQWa0FSKIMAXnuHHJ5h5I09uJk5FzcOa198qHcfbszfSOkvmQ?width=1024&height=768&cropmode=none) no-repeat 50% 50%;
      background-size: cover;
}

.service-overlap  {

    margin-top: -2em;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px;
    -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.2)

}
.section-services {
    padding: 15rem 0;
    margin-top: -20vh;
}
      @media (max-width: 56.25em) {
        .section-services {
          padding: 7rem 0;

        }
      }

      @media (min-width: 768px) and (max-width: 992px) {
    .change__parent {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 1fr;
    }
    .services   {
        position: relative;
    }

    .change__position   {
        position: relative;
    }

}
.service__photo  {
    width: 75%;
    height: 40vh;
    margin-top: 5rem;
    position: absolute;

}
 @media (max-width: 56.25em) {
     .service__photo  {
        float: left;
         position: relative;
         height: 40vh;
         width: 75%;
      }
    }

    .card {
      perspective: 150rem;
      -moz-perspective: 150rem;
      -webkit-perspective: 150rem;
      position: relative;
      height: 40rem;
      z-index: -10;

    }
      .card__side {

        height: 50rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
      }

      .card-image-top {
          width: 100px;
          height: 100px;
          margin-top: 10px;
          background-size: cover;
          background-position: center;
          display: block;
          background-blend-mode: screen;
      }



      .card__heading {
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
          text-align: center;
          background-image: linear-gradient(to right, #7ed56f, #28b485);
          background-clip: text;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          color: transparent;
          letter-spacing: 1px;

      }

    .card__details {
        padding: 3rem;
    }
        .card__details ul {
          list-style: none;
          width: 100%;
          margin: 0 auto;
             text-align: center;
        }
          .card__details ul li {
            text-align: center;
            font-size: 1.2rem;
            padding: 1rem;
          }
            .card__details ul li:not(:last-child) {
              border-bottom: 1px solid #eee;
            }


      @media (max-width: 56.25em) {
          .card {
              height: auto;
              border-radius: 3px;
              background-color: #fff;
              box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
              margin: 2rem;;
          }

          .card__side {
              height: auto;
              position: relative;
              box-shadow: none;
          }



          .card__details {
              padding: 1rem;
          }

          .card__cta {
              position: relative;
              top: 0;
              left: 0;
              transform: translate(0);
              width: 100%;
              padding: 7rem 4rem 4rem 4rem;
          }
      }


      .testimonial{
          padding-left: 150px;
          margin: 50px 0;
      }
      .testimonial:before,
      .testimonial:after{
          content: "";
          display: block;
          clear: both;
      }
      .testimonial .pic{
          display: inline-block;
          width: 13%;
          float: none;
          margin-left: 5%;
          margin-bottom: 4%;
      }
      .testimonial .pic img{
          width: 100%;
          height: auto;
          border-radius: 50%;
      }
      .pic .img-christina  {
          margin-bottom: 57%;
      }
      .testimonial .testimonial-content{
          display: inline-block;
          width: 72%;
          padding-top: 25px;
      }
      .testimonial-content .title{
          font-size: 2.1rem;
          font-weight: 700;
          text-transform: uppercase;
          display: inline-block;
            text-align: center;
            background-image: linear-gradient(to right, #7ed56f, #28b485);
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            color: transparent;
            letter-spacing: 1px;
      }
      .testimonial .post{
          display: inline-block;
          font-size: 18px;
         background-image: linear-gradient(to right, #7ed56f, #28b485);
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            color: transparent;
            letter-spacing: 1px;
      }
      .testimonial .description{
          font-size: 18px;
          font-family: "Libre Baskerville", serif;
          font-style: italic;
          color: #7a7c7f;
          line-height: 45px;
          text-align: left;
          text-shadow: 0 1px 1px #fff;
          padding-top: 20px;
      }
      .owl-theme .owl-controls{
          position: absolute;
          top: 27%;
      }
      .owl-theme .owl-controls .owl-buttons div{
          display: block;
          width: 50px;
          height: 50px;
          line-height: 50px;
          border-radius: 0;
          background: transparent;
          padding: 0;
          margin: 0 0 5px 0;
          opacity: 1;
          position: relative;
      }
      .owl-prev:before,
      .owl-next:before{
          content: "\f104";
          font-family: "fontawesome";
          font-size: 60px;
          color: #f7de44;
          position: absolute;
          top: 0;
          left: 20%;
      }
      .owl-next:before{
          content: "\f105";
      }
      @media only screen and (max-width:1280px){
          .testimonial{ padding-left: 80px; }
      }
      @media only screen and (max-width:767px){
          .testimonial{
              text-align: center;
              padding-left: 0;
              margin: 0 15px;
          }
          .testimonial .pic{
              width: 100px;
              height: 100px;
              float: none;
              margin-right: 0;
          }
          .testimonial .testimonial-content{
              width: 100%;
          }
          .owl-theme .owl-controls,
          .owl-prev:before,
          .owl-next:before{
              position: static;
          }
          .owl-theme .owl-controls .owl-buttons div{
              display: inline-block;
              margin-bottom: 0;
          }
      }

/******* elderly-care page ******/

      .eldery-care{
            width: 100%;
            height: 80vh;
            background: url(https://fxdkya.am.files.1drv.com/y4mie0ki6vXIblqT3rnlf-rV7M-NVl_ixJMI-KfqcbyoXRhlYSF0mEIco4l0NPucy5fxqgwpCy-z0ftnmIBJI2nbN2v8eKiUGvf5DKIx2xPknUdWCv9BYihu2Hd4btWPmE31fOqMA27kuYFblYJxux3Dm-6qMua2m8FmgJDhiqulNnmrRp6MnNW7IZJUtrWOpphRot4V6F4PSWK4bi86BSFdg?width=3888&height=2592&cropmode=none) no-repeat 50% 50%;
            background-size: cover;
      }
      .card-img-right {
        height: 100%;
        border-radius: 0 3px 3px 0;
      }

      .flex-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
      }

      .h-250 { height: 280px; }
      @media (min-width: 768px) {
        .h-md-250 { height: 250px; }
      }

      /*.border-top { border-top: 1px solid #e5e5e5; }*/
      /*.border-bottom { border-bottom: 1px solid #e5e5e5; }*/

      /*.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }*/

      .card-img-right{max-width:280px;height:auto;}


      /* new-born-care page */

      .section-newborn{
          /*padding: 15rem 0;*/
          margin-top: 10vh;

      }
      .new-born-care{
            width: 50%;
            height: 50vh;
            background: url(https://ts65aq.am.files.1drv.com/y4mEjXiC5aDh6hGajggUAjYQCrW3bBkOCffcaPS4R4omUDJWjdFz7dj9yJEylN9PubMj6WdVpy9O7zVfEidxoXSH7KCJlroBCSJbgBGEq0KD6_Y87TIvR9u-RKPfOcwPvcuu7rviRcWU35GozuZXPP_ZzLL-z2i9a8O_p-XrArnabiMXFIjeFcMU0mcNm7yFrJGCoaVT0KnYh428eWzE605cA?width=5040&height=3360&cropmode=none) no-repeat 50% 50%;
            background-size: cover;
          display: block;
          margin: auto;

      }

      .pull-right {
          float: right;

      }

      .pull-left  {
          float: left;

      }


      /*  new-born page */

      .new-born__care{
            width: 100%;
            height: 80vh;
            background: url(https://ts72mq.am.files.1drv.com/y4mrIJw-dVUI8TmfnLJPPCVUztFCEQmCfIc2HSZc5HcXbWIC55_mdDGXXALKUONQZCx4_SSlpCrcVzZ-g0U_EfeMWwUFf0XKkZjYljlBmoyphY4GqpEwvbrsM-wXXZBIJxe9QzNbI4C2TsfGzeU9MGrLTjgb7E7Lo00bf7c4e8ePR1DIn9tWM0a5fsiDZ8gVGsW_65NRJ6eoQhxRNsyRHkVfw?width=3363&height=2241&cropmode=none) no-repeat 50% 50%;
            background-size: cover;
      }

      .change__column {
          margin-top: 10rem;

      }




      /* child-care page */

      .child-care{
            width: 100%;
            height: 80vh;
            background: url(https://rbib1a.am.files.1drv.com/y4mH6yRNt0ILfWogMjI5iqYluxHMWtfx4K7rog9lEYU8lUS5iikhw6IMkHDp_Z0hlzNAPNSn83F82KWbjkB6Z2mL5qJtPmtvCmUNqfyOHrMKPS78ryjNS0a4YiozS92InDrQJYjv9dYaQO-475xEJ-2dhxVXNVAZ1Msvh2VdfM0BXPS-ex-RWPxcNavjYuUbXCczbSgxRVynsHOWTZmh7EI6A?width=2625&height=1752&cropmode=none) no-repeat 50% 50%;
            background-size: cover;
      }

      .change__column {
          margin-top: 10rem;

      }


/* pallative care page  */

.pallative-care{
      width: 100%;
      height: 80vh;
      background: url(https://1g3hbq.am.files.1drv.com/y4mce9YzUGLrivZjrY4onHeLymaUOAl7ztONUHcfwgj9qjYzVKMj6cHK1NmFTBjoaGaLiMG6z52PMLjcMjsZ8dGXc1s9EgZTE5zFmPpt6R5vSDTDtyj6BagDPVHIb2SnOdL02x6eFMDgcSjs7F3SJ9zG2UG45NH1TMej3LPL8ahYq22hr9Ixq1PaasBHfKvLUXKke_zmLNZ2QrPRGYdJN71Ng?width=1875&height=1108&cropmode=none) no-repeat 50% 50%;
      background-size: cover;
}

.change__column {
    margin-top: 10rem;

}


/*  physiotherapy page*/

.physiotheraphy-care{
      width: 100%;
      height: 80vh;
      background: url(https://1g1ieg.am.files.1drv.com/y4mxAp6zcTQ5j_ICUv7DHvfVYZnlJXauwcLckxoYB4kanthuVaoObCWg5TgYsGZi2EDz_s3czC4NXDIqZw8fCyPfh_tmA390qKlLK9ux6krcdw_mOlvQWsMf5xWJuL8cg66xCnsQfB5I5oKmp-tvKv-APjH7yfyjIPFy1qza3i9n8Li8CCYzPeGxIuLpnYGcUqn6Ak1kEOQBj-scKT77ynXGQ?width=2952&height=1968&cropmode=none) no-repeat 50% 50%;
      background-size: cover;
}

.change__column {
    margin-top: 10rem;

}


/****** contact page *********/
.section-contact    {
    /* margin-top: 7rem; */
    margin-bottom: 10rem;
}

.contact__details {
  margin-top: 5rem;
    z-index: -20;
}
.map__details{
    margin-top: 5rem;
    z-index: -20;
}

.form__details{
  z-index: -24;
}


#map    {
  margin-top:7rem;
    height: 200px;
    width: 100%;
}

.mapouter{
    text-align:right;
    height:600px;
    width:600px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:600px;
  width:600px;
}

.address-wrap    {
    margin-top: 9rem;
     z-index: -20;
}
@media (max-width: 960px) {
.address-wrap {
    margin-top: 20px;
     z-index: -20;
  }
}

 .single-contact-address {
  margin-bottom: 20px;
      z-index: -20;
}

 .single-contact-address h5 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5px;
      z-index: -20;
}
.single-contact-address .icon {
  font-size: 30px;
  font-weight: 500;
  color: #878dff;
  margin-right: 30px;
     z-index: -20;
}


@media only screen and (max-width: 767px){
  .mapouter {
    display: none;
  }
  .gmap_canvas  {
    display: none;
  }
  .contact__details {
    margin-top: -3rem;
      z-index: -20;
  }
}



/***** Footer *****/

.footer-top { padding: 60px 0; background: #333; text-align: left; color: #aaa;z-index:-40 }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-about img.logo-footer { max-width: 120px;
    height: auto; margin-top: 0; margin-bottom: 18px;z-index:-40 }
.footer-about p a { border: 0;z-index:-40 }
.footer-about p a:hover, .footer-about p a:focus { border: 0; }

.footer-contact p { word-wrap: break-word; font-size: 20px;  }
.footer-contact i { padding-right: 10px; color: #666; }
.footer-contact p a { border: 0; }
.footer-contact p a:hover, .footer-contact p a:focus { border: 0; }

.footer-links a { color: #aaa; border: 0;  font-size: 20px; }
.footer-links a:hover, .footer-links a:focus { color: #fff; }

.footer-bottom { padding: 15px 0 17px 0; background: #444; text-align: left; color: #aaa; }

.footer-social { padding-top: 3px; text-align: right; }
.footer-social a { margin-left: 20px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #79a05f; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-copyright { padding-top: 5px;font-size: 18px;text-align: center;}
/*.footer-copyright a { color: #fff; border: 0; }*/
/*.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }*/


@media (min-width: 992px) and (max-width: 1199px) {
    .footer-top {
        padding: 40px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-top {
        padding: 40px 0;
    }

    .footer-contact i   {
        padding-right: 5px;
    }
}
@media (max-width: 767px) {
    .footer-top { padding: 40px 0; text-align: center; }
	.footer-contact i { padding-right: 5px; }
	.footer-bottom, .footer-social { text-align: center; }
	.footer-social a { margin: 0 10px; }

}

/******* preloader ***********/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    z-index: 1001;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.3s 0.3s ease-out; 
            transition: all 0.3s 0.3s ease-out;
}

.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);

    -webkit-transition: all 0.3s 0.6s ease-out; 
            transition: all 0.3s 0.6s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);

    -webkit-transition: all 0.3s 1s ease-out; 
            transition: all 0.3s 1s ease-out;
}
